<div class="flex flex-col h-screen bg-gray">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="bg-second flex flex-col p-1 w-[100%]">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class="bg-main flex items-center justify-between p-4 mb-5 text-white">
      <%= render "layouts/splash_button" %>
      <h2>LOGIN</h2>
      <div class="actions">
        <%= f.submit "Log In" %>
      </div>
    </div>

    <div class="bg-white divide-y divide-slate-200 text-text">
      <div class="field">
        <%= f.email_field :email, placeholder: "Email", autocomplete: :off %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "Password", autocomplete: :off %>
      </div>

    </div>
  <% end %>
</div>
