<a href="<%= category_transactions_path(category) %>" class="flex bg-white w-[90%] h-16 items-center p-1 gap-1 text-sm">
  <div class="w-[20%] max-h-15">
    <% if category.icon %>
      <img class="object-contain w-20 h-15" src="<%= category.icon %>" alt=<%= category.name %> onerror="this.onerror=null;this.src='https://img.favpng.com/23/20/7/computer-icons-information-png-favpng-g8DtjAPPNhyaU9EdjHQJRnV97.jpg';"  />
    <% end %>
  </div>
  <h3 class="w-[50%]">
    <%= category.name %>
  </h3>
  <p class="w-[20%] text-right">
    $ <%= category.total_transactions %>
  </p>
</a>