<div class="">
  <h1>Create Category</h1>
  <div class="">
    <%= form_with model: category, url: categories_new_path, method: :post, local: true, scope: :category do |f|%>
      <div>
        <%= f.label :name %><br>
        <%= f.text_field :name, required: true %>
      </div>

      <div>
        <%= f.label :image %><br>
        <%= f.text_field :image %>
      </div>
      
      <%= f.submit "Add Recipe" %>
    <% end %>
  </div>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
</div>