<%= render "layouts/home_button" %>
<%= render "layouts/splash_button" %>


  <%= @category.name %>
  <%= @category.total_transactions %>



<button class="bg-main">
  <%= link_to 'ADD TRANSACTION', new_category_transaction_path %>
</button>

<div>
  <% @category.entities.each do |transaction| %>
    <%= render "transaction/transaction_display", transaction: transaction %>
  <% end %>
</div>
