<div>
  <%= form_with model: transaction, url: category_transactions_path, method: :post, local: true, scope: :transaction do |f|%>
    <div class="bg-main flex items-center justify-between p-4 mb-5 text-white">
      <a href="<%= category_transactions_path(@category_id) %>">
        <i class="fa fa-chevron-left"></i>
      </a>
      <h2>New Transaction</h2>
      <div class="actions">
        <%= f.submit "Next" %>
      </div>
    </div>
    <div class="bg-white divide-y divide-slate-200 text-text">
      <div>
        <%= f.text_field :name, placeholder: "Name", required: true %>
      </div>
      <div>
        <%= f.number_field :amount, placeholder: "Amount", min: 0, step: 0.01, required: true %>
      </div>
    </div>
  <% end %>
</div>