<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b40153832f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="flex flex-col h-screen bg-gray">
      <% flash.each do |type, msg| %>
        <div class="bg-second flex flex-col p-1 w-[100%]">
          <div>
            <%= msg %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
